[Unit]
Description=Prometheus slurm nvml exporter for machine metrics
Documentation=https://github.com/zackertypical/slurm-nvml-exporter

[Service]
Restart=always
RestartSec=5s
# User=prometheus
# Group=prometheus
ExecStart=/opt/nvml-exporter/nvml-exporter \
-metric-config-file="/etc/nvml-exporter/metric.yaml" \
-server-port=":9445" \
-collect-interval=5 \
-use-slurm
# ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target